@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    color: #000;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1660px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    margin: auto;
}
.object-cover{
    object-fit: cover;
}
.rounded-2{
    border-radius: 18px !important;
}
.rounded-3{
    border-radius: 30px !important;
}

.fff{
    font-family: "Figtree", sans-serif;
}

.bg-primary{
    background-color: #0A8FF2 !important;
}
.text-primary{
    color: #0A8FF2 !important;
}
.appointment-btn.btn {
    color: #fff;
    background: #0A8FF2;
    padding: 15px 120px;
    font-size: 26px;
}




.fw-300{
    font-weight: 300 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700{
    font-weight: 700 !important;
}
.fw-800{
    font-weight: 800 !important;
}


/* 0 */

.ls-001{
    letter-spacing: -0.01em;
}
.ls-002{
    letter-spacing: -0.02em;
}
.ls-100{
    letter-spacing: 0.1em;
}
.ls-150{
    letter-spacing: 0.15em;
}
.ls-200{
    letter-spacing: 0.2em;
}
.ls-300{
    letter-spacing: 0.03em;
}
.ls-002{
     letter-spacing: -0.02em;
}
.ls-004{
    letter-spacing: -0.04em;
}


/* 0 */


/* 01 */
h1, .h1{
    font-size: 60px;
    line-height: 1;
}
.fs-13{
    font-size: 13px;
}

.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-25{
    font-size: 25px;
}
.fs-26{
    font-size: 26px;
}
.fs-32{
    font-size: 32px;
}
.fs-39{
    font-size: 39px;
}
.fs-45{
    font-size: 45px;
}
.fs-60{
    font-size: 60px;
}



/* 01 */

/* 02 */
.lh-0-9{
    line-height: 0.9;
}
.lh-1-2{
    line-height: 1.2;
}
.lh-1-3{
    line-height: 1.3;
}
.lh-1-4{
    line-height: 1.4;
}
.lh-1-5{
    line-height: 1.5;
}
.lh-1-7{
    line-height: 1.7;
}
.lh-1-8{
    line-height: 1.8;
}

/* 02 */




.btn {
    padding: 5px 26px;
    border: 2px solid;
    border-radius: 6px;
    font-family: "Figtree", sans-serif;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: -0.04em;
    font-weight: 400;
}

.btn-primary{
    color: #0A8FF2;
    background-color: transparent;
    border-color: #0A8FF2;
}

.btn-primary:hover{
    color: #fff;
    background-color: #0A8FF2;
    border-color: #0A8FF2;
}

.book-btn.btn {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background: #0A8FF2;
    padding: 7px 85px;
}
.book-btn.btn:hover, .appointment-btn.btn:hover {
    background: transparent;
    color: #0A8FF2 !important;
}
/* pages css start */
.navbar-brand{
    display: inline-block;
    width: 250px;
}
.navbar-nav .nav-link {
    padding: 0 !important;
    color: #737373;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.01em;
    font-weight: 400;
    font-family: "Figtree", sans-serif;
}
.navbar-nav>a+a {
    margin-left: 35px;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active{
    color:#0A8FF2 ;
}


.carousel-item::before{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 50%;
 background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 73%);
}







button#ScrollToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    z-index: 99;
}
button#ScrollToTop:hover {
    background: #000;
    color: #fff;
}
@media(min-width:992px){
    div#navbarOffcanvas {
        position: inherit !important;
        flex-direction: row;
        visibility: visible;
        width: auto;
        transform: translateX(0%);
        border-right: 0;
        margin-left: 0;
        background-color: transparent;
    }
    .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: auto;
    }
}

.audiology-wrap{
    background-color: #fff;
    box-shadow: 2px 4px 8px 4px rgba(168, 168, 168, 0.25);
    
}
.audiology-sec.bg-primary{
    background-color: #EAF6FF !important;
}
.testimonial-stars i {
    color: #01A6DA;
    font-size: 20px;
}
.slick-slide {
    padding-right: 50px;
}
.footer-bx ul li a, .footer-bx ul li{
    color: #ffffff;
    font-size: 20px;
    line-height: 2;
    font-weight: 400;
    font-family: "Figtree", sans-serif;
}
.form-group {
    height: 60px;
}
.form-group button {
    width: 15% !important;
    font-size: 30px;
}
.form-group button:hover{
    background-color: #000 !important;
    color: #fff;
}
.form-group input {
    width: 85% !important;
}
.footer-social ul li a{
    font-size: 35px;
    color: #fff;
}
.footer-social ul li a:hover, .footer-bx ul li a:hover{
    color: #000;
}
.welcome-sec::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(../images/welcome-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    width: 800px;
    z-index: -1;
}
.audiology-heading h2.text-primary{
    color: #025796 !important;
}
@media(max-width:1500px){
    .navbar-brand {
        width: 200px;
    }
    
    .navbar-nav .nav-link {
        font-size: 16px;
    }
    .navbar-nav>a+a {
        margin-left: 25px;
    }
    .btn {
        padding: 4px 22px;
        font-size: 17px;
    }
    h1, .h1 {
        font-size: 45px;
    }
    .lh-1-4 {
        line-height: 1.4;
    }
    .book-btn.btn {
        font-size: 19px;
        padding: 6px 60px;
    }
    
    .fs-39 {
        font-size: 29px;
    }
    .fs-25 {
        font-size: 19px;
    }
    .fs-45 {
        font-size: 35px;
    }
    .fs-22 {
        font-size: 17px;
    }
    .fs-60 {
        font-size: 45px;
    }
    .appointment-btn.btn {
        padding: 11px 80px;
        font-size: 20px;
    }
    .fs-20 {
        font-size: 16px;
    }
    .fs-18{
        font-size: 15px;
    }
    .fs-32 {
        font-size: 24px;
    }
    .footer-bx ul li a, .footer-bx ul li {
        font-size: 16px;
    }
    .fs-16 {
        font-size: 14px;
    }
    .fs-26 {
        font-size: 20px;
    }
    .welcome-sec::before {
        height: 400px;
        width: 500px;
    }
}

@media(max-width:1200px){
    .navbar-brand {
        width: 150px;
    }
    .navbar-nav .nav-link {
        font-size: 14px;
    }
    .navbar-nav>a+a {
        margin-left: 17px;
    }
    .btn {
        padding: 3px 17px;
        font-size: 15px;
    }
    h1, .h1 {
        font-size: 35px;
    }
    .fs-26 {
        font-size: 16px;
    }
    .book-btn.btn {
        font-size: 15px;
        padding: 4px 40px;
    }
    .fs-39 {
        font-size: 24px;
    }
    .fs-25 {
        font-size: 16px;
    }
    .fs-45 {
        font-size: 28px;
    }
    .fs-22 {
        font-size: 14px;
    }
    .fs-60 {
        font-size: 38px;
    }
    .appointment-btn.btn {
        padding: 7px 50px;
        font-size: 16px;
    }
    .testimonial-stars i {
        font-size: 16px;
    }
    .fs-20 {
        font-size: 14px;
    }
    .fs-18 {
        font-size: 13px;
    }
    .fs-32 {
        font-size: 20px;
    }
    .footer-bx ul li a, .footer-bx ul li {
        font-size: 14px;
    }
    .form-group {
        height: 45px;
    }
    .form-group button {
        font-size: 22px;
    }
    .fs-16 {
        font-size: 12px;
    }
    .footer-social ul li a {
        font-size: 30px;
    }
}

@media(max-width:991px){
    .slick-slide {
        padding-right: 0px;
    }

    .navbar-toggler {
        font-size: 30px;
        padding: 0;
    }
    .navbar-toggler-icon {
        width: auto;
        height: auto;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    div#navbarOffcanvas {
        background: #fff;
        border-right: 0 !important;
        padding: 35px !important;
        width: 300px;
    }
    .navbar-nav>a+a {
        margin-left: 0;
    }
    .navbar-nav .nav-link {
        padding: 2px 0 !important;
    }
    .offcanvas-header .btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        filter: brightness(1) invert(0);
        opacity: 1;
    }
    .offcanvas-header {
        padding: 0;
    }
    .welcome-sec::before {
        top: 80%;
    }


}

@media(max-width:767px){
    .carousel-item {
        height: 350px;
    }
    .appointment-img {
        height: 350px;
    }
    footer .row{
        flex-direction: column-reverse;
    }
    .welcome-sec::before {
        height: 300px;
        width: 70%;
    }
}
@media(max-width:575px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .carousel-item {
        height: 450px;
    }
    h1, .h1 {
        font-size: 30px;
    }
    .book-btn.btn {
        font-size: 14px;
        padding: 0px 30px;
    }
    .fs-39 {
        font-size: 22px;
    }
    .fs-45 {
        font-size: 25px;
    }
    .fs-60 {
        font-size: 30px;
    }
    .appointment-btn.btn {
        padding: 5px 40px;
        font-size: 14px;
    }
    .appointment-img {
        height: 400px;
    }
    .welcome-sec::before {
        top: 70%;
    }
}